  <section class="how-to-use">
    <div class="container">
      <h1 class="section-title">How to use</h1>
      <div class="iframe-wrapper">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/txVuSU79dXk" frameborder="0" autoplay; encrypted-media; picture-in-picture"></iframe>
      </div>
    </div>
  </section>