<!-- ５人分のエネルギーデーター取得後に配列化 -->
<% @energies = [] %>
<% @staffs.each do |s| %>
  <% energy = [] %>
   <% name = s.family_name + s.first_name %>
   <% energy.push(name) %>
   <% energy.push(s.energy_1) %>
   <% energy.push(s.energy_2) %>
   <% energy.push(s.energy_3) %>
   <% energy.push(s.energy_4) %>
   <% energy.push(s.energy_5) %>
   <% @energies.push(energy) %>
<% end %>


<!-- 取得したエネルギー配列をjsに送信 -->
<input name="arr_json" type="hidden" value=<%= @energies.to_json.html_safe %> class='arr_json'/>
<input name="match_json" type="hidden" value=<%= @match_deg.to_json.html_safe %> class='match_json'/>
<script>
  // arr_json取得（エネルギー配列取得）
  var arrJson = $('.arr_json').val();
  // arr_jsonをパースし配列にする
  var arr = JSON.parse(arrJson);
  //   alert(arr[2]);
  
  // arr_json取得（エネルギー配列取得）
  var matchJson = $('.match_json').val();
  // arr_jsonをパースし配列にする
  var match_deg = JSON.parse(matchJson);
  //   alert(arr[2]);  
  
  
</script>


<!--レーダーチャート1-->
<div class="chart_container" >
   <canvas id="myRadarChart" ></canvas>
</div>

<script>
//レーダーチャート
var ctx = document.getElementById("myRadarChart");
var myRadarChart = new Chart(ctx, {
  //グラフの種類
  type: 'radar',
  //データの設定
  data: {
      //データ項目のラベル
      labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
      //データセット
      datasets: [
          {
              //凡例
              label: "B社",
              //背景色
              backgroundColor: "rgba(255,99,132,0.2)",
              //枠線の色
              borderColor: "rgba(255,99,132,1)",
              //結合点の背景色
              pointBackgroundColor: "rgba(255,99,132,1)",
              //結合点の枠線の色
              pointBorderColor: "#fff",
              //結合点の背景色（ホバーしたとき）
              pointHoverBackgroundColor: "#fff",
              //結合点の枠線の色（ホバーしたとき）
              pointHoverBorderColor: "rgba(255,99,132,1)",
              //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
              hitRadius: 5,
              //グラフのデータ
              data: arr[0]
          }
      ]
  }
});

</script>　

<div class="chart_staff">
    <!--レーダーチャート2-->
    <div class="chart_container2">
      <canvas id="myRadarChart2"></canvas>
    </div>
    
    <script>
    //レーダーチャート
    var ctx = document.getElementById("myRadarChart2");
    var myRadarChart = new Chart(ctx, {
      //グラフの種類
      type: 'radar',
      //データの設定
      data: {
          //データ項目のラベル
          // labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
          labels: ["D", "O", "C", "A", "P"],
    
          //データセット
          datasets: [
              {
                  //凡例
                  label: match_deg[0],
                  //背景色
                  backgroundColor: "rgba(255,99,132,0.2)",
                  //枠線の色
                  borderColor: "rgba(255,99,132,1)",
                  //結合点の背景色
                  pointBackgroundColor: "rgba(255,99,132,1)",
                  //結合点の枠線の色
                  pointBorderColor: "#fff",
                  //結合点の背景色（ホバーしたとき）
                  pointHoverBackgroundColor: "#fff",
                  //結合点の枠線の色（ホバーしたとき）
                  pointHoverBorderColor: "rgba(255,99,132,1)",
                  //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                  hitRadius: 5,
                  //グラフのデータ
                  data: arr[1]
              }
          ]
      }
    });
    
    </script>　
    
    
    <!--レーダーチャート3-->
    <div class="chart_container2">
    <canvas id="myRadarChart3"></canvas>
    </div>
    
    <script>
    //レーダーチャート
    var ctx = document.getElementById("myRadarChart3");
    var myRadarChart = new Chart(ctx, {
      //グラフの種類
      type: 'radar',
      //データの設定
      data: {
          //データ項目のラベル
          // labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
          labels: ["D", "O", "C", "A", "P"],      
          //データセット
          datasets: [
              {
                  //凡例
                  label: match_deg[1],
                  //背景色
                  backgroundColor: "rgba(255,99,132,0.2)",
                  //枠線の色
                  borderColor: "rgba(255,99,132,1)",
                  //結合点の背景色
                  pointBackgroundColor: "rgba(255,99,132,1)",
                  //結合点の枠線の色
                  pointBorderColor: "#fff",
                  //結合点の背景色（ホバーしたとき）
                  pointHoverBackgroundColor: "#fff",
                  //結合点の枠線の色（ホバーしたとき）
                  pointHoverBorderColor: "rgba(255,99,132,1)",
                  //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                  hitRadius: 5,
                  //グラフのデータ
                  data: arr[2]
              }
          ]
      }
    });
    
    </script>　
    
    
    <!--レーダーチャート4-->
    <div class="chart_container2">
    <canvas id="myRadarChart4"></canvas>
    </div>
    
    <script>
    //レーダーチャート
    var ctx = document.getElementById("myRadarChart4");
    var myRadarChart = new Chart(ctx, {
      //グラフの種類
      type: 'radar',
      //データの設定
      data: {
          //データ項目のラベル
          // labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
          labels: ["D", "O", "C", "A", "P"],
          
          //データセット
          datasets: [
              {
                  //凡例
                  label: match_deg[2],
                  //背景色
                  backgroundColor: "rgba(255,99,132,0.2)",
                  //枠線の色
                  borderColor: "rgba(255,99,132,1)",
                  //結合点の背景色
                  pointBackgroundColor: "rgba(255,99,132,1)",
                  //結合点の枠線の色
                  pointBorderColor: "#fff",
                  //結合点の背景色（ホバーしたとき）
                  pointHoverBackgroundColor: "#fff",
                  //結合点の枠線の色（ホバーしたとき）
                  pointHoverBorderColor: "rgba(255,99,132,1)",
                  //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                  hitRadius: 5,
                  //グラフのデータ
                  data: arr[3]
              }
          ]
      }
    });
    
    </script>　
    
    
    <!--レーダーチャート5-->
    <div class="chart_container2">
    <canvas id="myRadarChart5"></canvas>
    </div>
    
    <script>
    //レーダーチャート
    var ctx = document.getElementById("myRadarChart5");
    var myRadarChart = new Chart(ctx, {
      //グラフの種類
      type: 'radar',
      //データの設定
      data: {
          //データ項目のラベル
          // labels: ["デザイン", "オリジナリティ", "コンテンツ", "アクセサビリティ", "写真"],
          labels: ["D", "O", "C", "A", "P"],
          //データセット
          datasets: [
              {
                  //凡例
                  label: match_deg[3],
                  //背景色
                  backgroundColor: "rgba(255,99,132,0.2)",
                  //枠線の色
                  borderColor: "rgba(255,99,132,1)",
                  //結合点の背景色
                  pointBackgroundColor: "rgba(255,99,132,1)",
                  //結合点の枠線の色
                  pointBorderColor: "#fff",
                  //結合点の背景色（ホバーしたとき）
                  pointHoverBackgroundColor: "#fff",
                  //結合点の枠線の色（ホバーしたとき）
                  pointHoverBorderColor: "rgba(255,99,132,1)",
                  //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                  hitRadius: 5,
                  //グラフのデータ
                  data: arr[4]
              }
          ]
      }
    });
    
    </script>　

</div>