// Place all the styles related to the meishikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart_container {
    width: 100%;
    height: 100%;
}

.chart_container2 {
    float: left;
    width: 30%;
    height: 30%;
    display: inline-block;
}

// .chart_container3 {
//     width: 60%;
//     height: 60%;
// }

// .chart_container4 {
//     width: 40%;
//     height: 40%;
// }


// .chart_container5 {
//     width: 20%;
//     height: 20%;
// }